<ul>
    <li><i class="fa fa-home"></i><a href="/index.html">Home</a></li>
    <li><i class="fa fa-user"></i><a href="/author.html">Paul Okstad</a></li>
    <li><i class="fa fa-twitter"></i><a class="social-icon" href="https://www.twitter.com/pokstad">My Twitter</a></li>
    <li><i class="fa fa-facebook-official"></i><a class="social-icon" href="https://www.facebook.com/pokstad">My Facebook</a></li>
    <li><i class="fa fa-paper-plane"></i><a href="mailto:pokstad@icloud.com">Email Me</a></li>
    <li><i class="fa fa-star"></i><a href="/favorites.html">Favorites</a></li>
    <li><i class="fa fa-rss"></i><a href="/feed.xml">RSS Feed</a></li>
</ul>