<nav>
	<div class="hamburger hide" onclick="flipBurger(this)" data-toggle="#menuList">
		<div class="bar1" data-toggle="#menuList"></div>
		<div class="bar2" data-toggle="#menuList"></div>
		<div class="bar3" data-toggle="#menuList"></div>
	</div>
	<ul class="out" id="menuList" style="display:none;">
		<li><a href="/">Home</a></li>
		<li><a href="/#articles">Articles</a></li>
		<li><a href="/#topics">Topics</a></li>
		<li><a href="/resume.html">Resume</a></li>
		<li><a href="/author.html">About Me</a></li>
		<li><a href="mailto:pokstad@icloud.com">Email Me</a></li>
	</ul>
</nav>
