<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/main.css">

        <!--[if lt IE 9]>
            <script src="/js/vendor/html5shiv.min.js"></script>
        <![endif]-->

        <script src="/js/vendor/modernizr.custom.32229-2.8-respondjs-1-4-2.js"></script>
    </head>
    <body>
        <header class="hero-image" role="banner" style="background-image: url({% if page.hero_image %}{{ page.hero_image }}{% else %}/downloads/tobylick.jpg{% endif %});">
            <span class="menu-trigger animated fadeInDown">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </span>
            <!-- if the user has javascript disabled they can still use the menu -->
            <noscript>
                <div class="no-js-menu">
                    {% include menu_links.html %}
                </div>
            </noscript>
            <!-- end no script -->
            
            <div id="menu-target">
                {% include menu_links.html %}
            </div>
        </header>
        <main class="container">
            <div class="row">
                <div class="col-xs-12 single-content">
                    <p class="meta">
                        {% assign post = page %}
                        <a class="" href="/index.html">Paul Okstad</a> wrote on {{ post.date | date: '%B %d, %Y' }} <i class="link-spacer"></i> <i class="entypo-bookmark"></i> {{ page.readingTime }} minute read<br/>
                        
                    </p>
                    <h1>{{ page.title }}</h1>
                    <p class="meta">
                        {% if post.tags.size > 0 %}
                            Tagged in
                            {% for post_tag in post.tags %}
                                {% for data_tag in site.data.tags %}
                                    {% if data_tag.slug == post_tag %}
                                        {% assign tag = data_tag %}
                                    {% endif %}
                                {% endfor %}
                                {% if tag %}
                                    <a href="/blog/tag/{{ tag.slug }}/">{{ tag.name }}</a>,
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </p>
        			<hr/>
                    {{ content }}
                </div>
            </div>
        </main>
        <footer class="single">
            <div class="container">
                <div class="row">
                    <div id="disqus_thread"></div>
                </div><!-- div.row-->
            </div><!-- div.container-->
            <div class="row read-another-section">
                <a href="post.html"><div class="col-sm-6 col-md-2 no-gutter read-another-container">
                    <div class="overlay"></div>
                    <img src="/img/square-iceland.jpg">
                    <h3 class="read-another">Land of Fire &amp; Ice</h3>
                </div></a>
                <a href="post.html"><div class="col-sm-6 col-md-2 no-gutter read-another-container">
                    <div class="overlay"></div>
                    <img src="/img/square-spain.jpg">
                    <h3 class="read-another">The Coast of Your Mind</h3>
                </div></a>
                <a href="post.html"><div class="col-sm-6 col-md-2 no-gutter read-another-container">
                    <div class="overlay"></div>
                    <img src="/img/square-peak.jpg">
                    <h3 class="read-another">Get Out of Your Comfort Zone</h3>
                </div></a>
                <a href="post.html"><div class="col-sm-6 col-md-2 no-gutter read-another-container">
                    <div class="overlay"></div>
                    <img src="/img/square-woods.jpg">
                    <h3 class="read-another">Not All Who Wander Are Lost</h3>
                </div></a>
                <a href="post.html"><div class="col-sm-6 col-md-2 no-gutter read-another-container">
                    <div class="overlay"></div>
                    <img src="/img/square-sunset.jpg">
                    <h3 class="read-another">Open Your Mind</h3>
                </div></a>
                <a href="post.html"><div class="col-sm-6 col-md-2 no-gutter read-another-container">
                    <div class="overlay"></div>
                    <img src="/img/square-mountain.jpg">
                    <h3 class="read-another">Ten Reasons to Hike</h3>
                </div></a>
            </div>
        </footer>
        {% include javascript.html %}
        {% include disqus.html %}
    </body>
</html>
