<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/main.css">
        <script src="/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
        <style type="text/css">
            .custom-hero-image {
              {% if post.hero_image %}
              background: url({{ hero_image }}) center center no-repeat;
              {% else %}
              background: url(/downloads/tobylick.jpg) center center no-repeat;
              {% endif %}
              -webkit-background-size: cover;
              -moz-background-size: cover;
              -o-background-size: cover;
              background-size: cover;
            }
        </style>
    </head>
    <body>
    <span class="menu-trigger writer-icon animated fadeInDown">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </span>
    <div class="hero-image custom-hero-image" style="">
        <!-- if the user has javascript disabled they can go fuck themselves -->
        <noscript>
            <h1>TURN ON JAVASCRIPT YOU WEIRDO</h1>
        </noscript>
        <!-- end no script -->
    </div>
    <div class="container">
        <div class="row">
        <div id="menu">
            <ul>
                <li><i class="entypo-home"></i><a href="/index.html">Home</a></li>
                <li><i class="entypo-user"></i><a href="">Paul Okstad</a></li>
                <li><i class="entypo-star"></i><a href="/favorites.html">Favorites</a></li>
                <li><i class="entypo-chart-area"></i><a href="/dashboard.html">Stats</a></li>
            </ul>
        </div>
        <div class="col-xs-12 main-content single-content">
            <p class="meta">
                <a class="" href="category.html">Paul Okstad</a> in <a class="" href="category.html">{{ page.category }}</a> <i class="link-spacer"></i> <i class="entypo-bookmark"></i> {{ page.readingTime }} minute read
            </p>
            <h1>{{ page.title }}</h1>
			<hr/>
            {{ content }}
        <div class="single-footer">
            <div class="social clearfix">
				<!--
                <a class="btn btn-writer btn-like" href="#"><i class="entypo-heart"></i>Like</a>
                <img src="/img/profile-2.jpg" class="liked-this-icon" alt="user-image">
                <img src="/img/profile-3.jpg" class="liked-this-icon" alt="user-image">
                <img src="/img/profile-5.png" class="liked-this-icon" alt="user-image">
					-->
                <a class="social-icon" href="https://www.twitter.com/pokstad">
                    <i class="entypo-twitter"></i>
                </a>
                <a class="social-icon" href="https://www.facebook.com/pokstad">
                    <i class="entypo-facebook-squared"></i>
                </a>
            </div>
            <div class="category-list">
                <p>Also found in</p>
                <ul>
                    <li><a href="#">Stories</a></li>
                    <li><a href="#">Life</a></li>
                    <li><a href="#">Adventures</a></li>
                </ul>
            </div>
			<div id="disqus_thread"></div>
        </div>
        </div><!-- main-content/col -->
        </div> <!--/row -->
    </div> <!-- /container -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>
        <script src="/js/vendor/jquery.jpanelmenu.min.js"></script>
        <script src="/js/vendor/bootstrap.min.js"></script>
        <script src="/js/main.js"></script>
		<script type="text/javascript">
		    /* * * CONFIGURATION VARIABLES: THIS CODE IS ONLY AN EXAMPLE * * */
		    var disqus_shortname = 'pokstad'; // Required - Replace example with your forum shortname
		    /* * * DON'T EDIT BELOW THIS LINE * * */
		    (function() {
		        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
		        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		    })();
		</script>
    </body>
</html>
